html, body {
   height: 100%;
   margin: 0;
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   font-size: 1.4em;
   text-align: center;
}
h1, p {
   margin: 0;
   padding: 0;
}
h3 {
   margin-top: -50px;
}

#info {
   color: #BBB;
   font-size: 1.2rem;
}

#donate-section {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 5px;

   display: flex;
   align-items: center;
   justify-content: center;

   font-size: 1rem;
}

[v-cloak] {
   display: none;
 }